@font-face {
  font-family: Poppins;
  src: url('https://fonts.googleapis.com');
}

div#collapsingNavbar3 ul.nav {
  padding: 2rem;
}

a.navbar-brand.mb-0.nav-link {
  margin: 1rem;
}

img#background {
  height: 100%;
  width: 100%;
}

div#text-center {
  padding: 2rem;
}

p#text-navy,
p#text-brown,
span#extra-text,
p#text-enum, div#text-with-button p.h1 strong, p.pregnant-women strong {
  font-size: calc(1.525rem + 0.3vw);
}

@media (min-width: 1024px) {
  p#text-navy, div#text-with-button p.h1 strong, p.pregnant-women strong  {
    font-size: 3.5rem;
  }
  span#extra-text {
    font-size: 2.5rem;
  }
  div.text-start {
    padding: 2.5rem;
  }
  p#text-brown {
    font-size: 3.5rem;
  }

  p#text-list {
    font-size: 2.5rem;
  }

  p#text-enum {
    font-size: 2.5rem;
  }

  img#img-enum {
    height: 120%;
    width: 120%;
  }
}

p#text-navy {
  color: navy;
}

span#color-text {
  color: orange;
}

div.text-start {
  margin-top: 2rem;
}

p#text-list {
  padding: 2.3rem;
  font-size: 1.5rem;
}

p#text-brown {
  color: #AE4B2B;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

@media (max-width: 1023px) {
  img#img-enum {
    width: 30%;
  }
}

p#text-enum {
  padding: 1.3rem;
}

@media only screen and (min-width: 0px) and (max-width: 968px) {
  div#enumtwo {
    display: flex;
    flex-direction: column-reverse;
  }
}

img#pregnant-woman {
  margin: auto;
}

button.btn.btn-primary.active {
  background-color: #ae4b2b;
}

@media only screen and (min-width: 968px) {
  p#text-pregnant-woman {
    padding-top: 3%;
  }

  div#text-with-button {
    padding-top: 5%;
  }

  p#text-third {
    padding-top: 2%;
  }
}

div#text-with-button,
div#text-third,
div#button-navy,
div#list-icon {
  padding-top: 5%;
  padding-bottom: 3%;
}

a#button-navy {
  background-color: #1B3661;
}

img#image-bg-section {
  margin-top: 3%;
  width: 100%;
}

div#image-bg-section {
  margin: 0%;
  width: 100%;
}

.bi-check-circle::before {
  color: green;
}

h4#list-icon {
  margin-top: 3%;
  margin-bottom: 3%;
}

div#bg-color {
  margin-top: 5%;
  background-color: beige;
}

div.container.pregnant-women {
  padding: 2%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: space-evenly;
  align-items: flex-start;
}

div.bg-color-beige {
  padding-top: 7%;
}

div#bg-color-green {
  background-color: aquamarine;
  display: flex;
  align-content: center;
  justify-content: center;
}

img#image-bg-green {
  max-width: 50%;
  height: auto;
  padding: 3%;
}

div.image-with-text-flex {
  display: flex;
  flex-direction: row;
}

@media (max-width: 800px) {
  div.image-with-text-flex {
    flex-direction: column;
  }
}

nav.navbar,
span#extra-text,
p.text-start,
p.extra-test,
p#text-pregnant-woman,
p#text-third,
h4#list-icon,
button {
  font-family: Roboto;
}

a#button-orange{
  background-color: #ae4b2b;
}

p.pregnant-women strong{
  font-family: 'Poppins', sans-serif;
  color: #1B3661;
}

.btn{
  border-radius: 20px;
  padding-left: 30px;
  padding-right: 30px;  
}

div#text-with-button p.h1 strong{
  color: #AE4B2B;
}

strong#biggest-ask{
  color: #1B3661;
}

i.bi.bi-check-circle {
  padding-right: 15px;
}

div.bg-color-beige{
  background-color: #F8F5F2;
}

div#button-navy a.orange{
  background-color: #AE4B2B;
}

div#bg-color-green{
  background-color: #ABBFB5;
}